@media screen and (min-width: 992px){
    header.cellphone{
        display: none;
    }
    footer.cellphone_footer{
        display: none;
    }
}

@media screen and (max-width: 991px){
    main{
        background: #10000C;
        /* display: inline-block; */
        margin: 0 auto;
    }
    div.block{
        display: none;
    }
    .main_container{
        width: 100vw;
        margin: 0 auto;
    }
    .main_container .btn .reply_btn{
        width: 435px;
    }
}

@media screen and (max-width: 575px){
    main div.main_container{
        width: 100%;
    }
    main .main_container p.computer{
        display: none;
    }
    main .main_container p.cellphone{
        display: inline-block;
        color: white;
        margin: 20px auto;
        margin-top: 40px;
    }
    .reply{
        display: block;
        flex-wrap: wrap;
        justify-content: center;
        /* margin: 0 auto; */
    }
    .reply div{
        display: flex;
        justify-content: center;
        /* margin: 0 auto; */
    }
    input{
        width: 300px;
        margin: 0 auto;
    }
    textarea{
        width: 300px;
        margin: 0 auto;
    }
    .reply .btn{
        /* border: 1px solid yellow; */
        /* width: 322px; */
        display: flex;
        justify-content: center;
    }
    .reply .btn .reply_btn{
        width: 322px;
    }
}