header{
    position: relative;
    z-index: 10;
}

main{
    margin: auto;
    margin-bottom: 30px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
}

.main_container{
    display: flex;
    /* border: 1px solid white; */
    flex-wrap: wrap;
    justify-content: center;
}

.container{
    display: flex;
    padding: 20px;
    height: 350px;
    align-items: center;
    position: relative;
    justify-content: center;
    margin: 50px;
    /* border: 2px solid blue; */
    width: calc(100% - 250px);
}


/* @keyframes down_appear{
    0%{
        opacity: 0;
        transform: translateY(-80%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes up_appear{
    0%{
        opacity: 0;
        transform: translateY(80%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
} */

/* .container div.block{
    width: 150px;
    font-size: 0;
    border: 2px solid white;
    overflow: hidden;
    animation-fill-mode: both;
    margin-right: 1px;
}

.container div.block:nth-child(2n){
    align-self: flex-end;
}

.container div.block:first-child{
    animation-name: down_appear;
    animation-duration: 2s;
}

.container div.block:nth-child(2){
    animation-name: up_appear;
    animation-duration: 2s;
    animation-delay: 1s;
}

.container div.block:nth-child(3){
    animation-name: down_appear;
    animation-duration: 2s;
    animation-delay: 2s;
}

.container div.block:nth-child(4){
    animation-name: up_appear;
    animation-duration: 2s;
    animation-delay: 3s;
}

.container div.block:nth-child(5){
    animation-name: down_appear;
    animation-duration: 2s;
    animation-delay: 4s;
}

.container div.block:last-child{
    animation-name: up_appear;
    animation-duration: 2s;
    animation-delay: 5s;
} */


.container div.block a{
    text-decoration: none;
    color: white;
}

.container div.block p{
    font-size: 1rem;
    text-align: center;
    padding: 20px;
    background: repeating-linear-gradient(20deg,rgb(164,2,2,1), rgb(255,255,255,0));
}

.container div.block img{
    width: 100%;
    height: 210px;
}

/* @keyframes swing  {
    0%{
        transform:translateX(0px);
    }
    15%{
        transform:translateX(8px);
    }
    40%{
        transform:translateX(-8px);
    }
    65%{
        transform:translateX(5px);
    }
    85%{
        transform:translateX(-5px);
    }
    100%{
        transform:translateX(0px);
    }
}

.main_container div.block:hover{
    animation-name: swing;
} */

.page{
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    /* border: 1px solid green; */
}

.page p a{
    margin: 5px;
    text-decoration: none;
    color: white;
    padding: 4px 10px;
    background-color: #5A5560;
    border-radius: 20px;
}